<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3><%= link_to 'The Articles', articles_path %></h3>
      <span>
        <%= link_to "New article", new_article_path%>
      </span>
    </header>
    <%= yield %>
  </body>
</html>
